<form class="comment-form" #commentForm="ngForm" (ngSubmit)="add($event)">
	<div class="form-group">
		<input type="email" class="form-input" #email="ngModel"
			   placeholder="Email"
			   required
			   [(ngModel)]="model.email" name="email" >
		<div [hidden]="email.valid || email.pristine" class="form-alert">
			Email is required
		</div>
	</div>
	<div class="form-group">
		<textarea class="form-message" #message="ngModel"
				  placeholder="Message"
				  required
				  [(ngModel)]="model.message" name="message">
		</textarea>
		<div [hidden]="message.valid || message.pristine" class="form-alert">
			Message is required
		</div>
	</div>
	<button class="form-submit" type="submit" >Submit</button>
</form>