.comments-container{
	display: flex;
	flex-direction: column;
	width:100%;
	margin:auto;
}

@media only screen and (min-width : 480px) {
	.comments-container{
		width: 66%;
	}
}

@media only screen and (min-width: 768px){
	.comments-container{
		width:33%;
	}
}